# Ignore node_modules folder
node_modules

# Ignore build artifacts
build

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore compiled files
*.js
*.mjs

# Ignore package-lock.json file
package-lock.json

# Ignore any other generated or sensitive files
